include gym_cabworld/images/map_gen.png
include gym_cabworld/images/small_map_gen.png
include gym_cabworld/images/house.png
include gym_cabworld/images/cab.png
include gym_cabworld/images/tree.png
include gym_cabworld/images/person_1.png
include gym_cabworld/images/person_2.png
include gym_cabworld/images/person_3.png
include map.dat
include small_map.dat